html, body{
    
    width: 100%;
    height: 100%;
    margin: 0;
}
*{
    font-family: Ubuntu, sans-serif;
    src: url(Ubuntu/Ubuntu-Regular.ttf);
    box-sizing: border-box;
}
.header{
    width: 100%;
    padding: 30px 0;
    position: fixed;
    background: linear-gradient(to bottom,
     rgba(0,0,0,0.6) 0%,rgba(255,255,255,0) 100%);
}
.div-container{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.section-container{
    width: 100%;
    height: 100%;
    background-image: url(images/images/hero_bg.jpg);
    background-size: cover;
    padding-top: 60px;
    display: flex;
}
.width-container{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.navigation{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
    position: fixed; */
    justify-content: space-between;
}

.nav_{
    display: inline-flex;
    
    /* justify-content: flex-end; */
     list-style: none;
    /*align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0; */
    /* flex-grow: 1; */
     word-spacing: normal;
    color: white;
    font-size: 16px; 
}

.nav_ li{
    margin: 0 10px;
}

.sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; top: 150px;
}
.left-side{
    display: flex;
    flex-direction: column;
}

.days{
    color: #5FD6FF;
    font-size: 40px;
    text-align: left;
    border-bottom: 1px solid white;
}
.title{
    color: white;
    font-size: 60px;
    text-align: left;
    border: 2px 0;
    border: white;
    font-weight: bold;

}

.course{
    border-top: 1px solid white;
    color: #5FD6FF;
    font-size: 34px;
    text-align: right;
}

.date{
    font-size: 45px;
    color: white;
    text-align: left;
    
}

.right-side{
    /* position: relative; top:60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons{
   
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.button_1{
     border: 2px solid white;
     background: white;
     border-radius: 5px;
     padding: 10px;
     color: #005892;
     text-decoration: none;
     margin-left: 20px;
}

.button_2{
    border: 2px solid white;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
    color: white;
    border-radius: 5px;
}

.overview{
    width: 100%;
    height: 160%;
}

.div-overview{

    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.div-overview {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
    margin-top: 0;
}
.text-overview{
    
    line-height: 25px;
    color: #656565;
    margin-bottom: 0;
}
.title1{
    color:#1B3763;
    font-size: 30px;
}
h2{
    margin-bottom: 50px;
   
}
.header-overview-vertical-left{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header-overview-vertical-right{
width: 55%;
height: 95%;
display: flex;
flex-direction: column;

}
.title2{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-between;
    color: #0071BB;
   
    
}
.course-number{
    border: 2px solid #656565;
    border-radius: 2px;
    background:#656565;
    color: white;
    font-size: 10px;
    padding: 4px 0 0 0;
    
}

.list-vertical{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.list-vertical ul{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;

}
.list-vertical li{
    display: flex;
    list-style: none;
    border: 1px solid white;
    width: 18%;
    height: 180px;
    background: white;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    
}
span.title_{
   
    color: #656565;
    margin: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    
}
span.value {
    background-color: #0071BB;
    color: white;
    display: flex;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    padding:10px;
}
ul img{
    margin-bottom: 30px;
}
 .chart_ {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     background-color: white;
     border: 2px solid white;
     border-radius: 5px;
     padding: 50px;
     box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
     margin-top: 50px;
 }
.when-asked{
    color: #A6A8AB;
    z-index: 1;
    font-size: 30px;
    margin-bottom: 15px;
    
}
.when-asked-text{
    color: #0071BB;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.when-asked-bottom{
color: #A6A8AB;
font-size: 18px;
text-align: right;
margin-top: 10px;
}

.course-objectives {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.title-course-objectives {
    color: #1B3763;
    font-size: 50px;
    font-weight: bolder;
}
.text-course-objectives{
    line-height: 70px;
    color: #656565;
}
.text-course-objectives-bottom {
    line-height: 70px;
    color: #656565;
}
.list-course-objectives{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
ul.list-course-objectives li::marker{
    border-radius: 10px;
     color: #0071BB;
    font-size: 30px;
}
.overview-footer-example{
    width: 90%;
    margin: 0 auto;
}
.overview-footer{
    font-size: 17px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #656565;
    font-style:oblique;
    margin-bottom: 30px;
}
.text-overview-footer{

    color: #0071BB;
    font-weight: bolder;
}

.images {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images hr {
    flex-grow: 1;
    border: none;
    border-bottom:1px solid #D3D3D3 ;
    
}
.second-img{
    margin-right: 10px;
    margin-left: 20px;
}
.first-img{
    margin-left: 10px;
    width: 100px;
    height: 25px;
}

.brainnet {
    width: 100%;
    height: 100%;
    background-color: #DBDBDB;
    background-image: url(images/images/brainnet.svg);
    background-repeat: no-repeat;
    background-position: left 150px top 100px;
}

.div-brainnet {
    width: 90%;
    height: 70%;
    display: flex;
    padding-top: 50px;
}
.brainnet-title-width{
    width: 90%;
    margin: 0 auto;
    height: 30%;
    padding-top: 100px;
    display: flex;
}

.brainnet-title {
    font-size: 30px;
    display: flex;
    width: 40%;
    color: #1B3763;
    font-weight: bolder;
    
}
.why-width{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.charts{
    width: 5%;
}
.right-width {
    width: 40%;
    padding: 0 0 0 20px;
}

.left-width {
    width: 40%;
    padding: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chart{
    padding: 0;
    margin: 0;
    border: none;
    width: 0;
}
.first-left{
    display: flex;
    flex-direction: column;
}
.left-width-title{
    color: #0071BB;
    font-size: 20px;
    font-weight: bold;
    font-style:normal;
    text-transform: uppercase;
}
.left-width-text{
    color: #656565;
}
.left-width-bottom {
    color: #A7A9AC;
    font-size: 15px;
    font-style: normal;
}

.second-left{
    display: flex;  
    flex-direction: column;
}

.second-left-title{
    color: #0071BB;
    font-size: 20px;
    font-weight: bold;
    font-style:normal;
    text-transform: uppercase;
}

.second-left-text{
    color: #656565;
}

.second-left-bottom{
    color: #A7A9AC;
    font-size: 15px;
    font-style: normal;
}
.third-left{
    display: flex;
    flex-direction: column;
}

.third-left-title{
    color: #0071BB;
    font-size: 20px;
    font-weight: bold;
    font-style:normal;
    text-transform: uppercase;
}

.third-left-text{
    color: #656565;
}

.third-left-bottom{
    color: #A7A9AC;
    font-size: 15px;
    font-style: normal;
}

.right-width{
    background-color: white;
    border: 30px solid white;
    padding:0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-width-title{
    color: #0071BB;
    font-size: 23px;
    font-weight: bolder;
    
}

.right-width-text{
    color: #656565;
    font-size: 14px;
}
.right-width-bottom{
    color: #656565;
    font-size: 14px;
}

.like-what{
    width: 90%;
    height: 30%;
    margin: 0 auto;
}

.like-container{
width: 90%;
padding-top: 100px;
height: 100%;

}

.like-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-title{
    color: #1B3763;
    font-size: 35px;
    font-weight: bolder;

}
.buy-or-get{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 35%;
}

.buy-ticket{
    background-color: #0071BB;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}
.get-full{

    color: #656565;
    background-color: white;
    border-color: #656565;
    border: 2px solid;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
}

.or{
    color: #656565;
    text-align: center;
    padding-top: 10px;
}

.course-outline{
    width: 100%;
    height: 100%;
    background-color: #0071BB;
    
}
.outline-container{

    width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

.outline-title{
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.lessons{
    display: flex;
    gap: 1em;
    flex-direction: column;

}
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.lesson-title{
    display: flex;
    flex-direction: row;
}

.lesson-box{
    width: 30%;
    
    background-color: white;
    padding-bottom: 60px;
    text-align: center;
    border-radius: 5px;
}

.lesson-title {
    color: #0071BB;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
}

.lesson-text{
    color: #656565;
    font-size: 15px;
    float: left;
    margin-left: 20px;
    justify-content: flex-start;
}

.lesson-box hr{
    flex-grow: 1;
    border: none;
    border-bottom:1px solid #D3D3D3;
    width: 90%;
}

.button-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    padding-top: 50px;
    width: 40%;
    margin: 0 auto;
}

.seat{
    background-color: white;
    color: #0071BB;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-right: 10px;
    width: 35%;
}

.seat-overview{
    text-transform: uppercase;
    font-weight: bolder;
    width: 80%;
    padding: 10px;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
    text-align: center;
}

#sec-img{
    margin-bottom: 25px;
}   

.related-courses{
    width: 100%;
    height: 80%;
}
.related-container{ 
    width: 90%;
    height: 80%;
    margin: 0 auto;

}

.related-title{
    padding-top: 50px;
    font-size: 35px;
    color: #1B3763;
    font-weight: bolder;
}

.instructor{
    width: 100%;
    height: 170%;
    background-color: #DBDBDB;
    background-image: url(images/images/instructor_bg.png);
   
}

.instructor-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.instructor-title{
    padding-top: 50px;
    color: #1B3763;
    font-size: 35px;
    font-weight: bolder;
}
.instructor-subtitle{
    padding-top: 50px;
    color: #0071BB;
    font-size: 20px;
    font-weight: bolder;
}
#img_instructor{
    border-radius: 100px;
    height: 50%;
}
.the-instructor{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

#instructor-text{
    width: 70%;
    color: #656565;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.5;
}
.instructor-students{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.instructor-students hr{
    flex-grow: 1;
    border: none;
    border-bottom:3px solid #656565;
    width: 90%;
    
}
#said-students{
    color:#656565 ;
    font-size: 15px;
    font-weight: bolder;
    width: 15%;
}
#cap_{
    margin-right: 10px;
}

.instructor-students-comments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    height: 20%;

}
.comment{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    background-color: white;
    padding-top:30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.comment-text{
    color: #656565;
    font-size: 15px;
    line-height: 1.5;
}
.comment-date{
    color: #AFAFAF;
    font-size: 13px;
    margin-bottom: 100px;
}
.guest{
    width: 100%;
    height: 10%;
}

.guest-title{
    font-size: 30px;
    padding-top: 50px;
    color: #1B3763;
    font-weight: bolder;
}
.guests_{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 96%;
}
#pic-guest{
    border-radius: 100px;
}

.guests-text
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 58%;
    margin: auto;
    color: #656565;
    font-size: 20px;
    font-weight: bolder;
    height: 3%;
}

.guests-text-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 63%;
    margin: auto;
    color: #656565;
    font-size: 15px;
}

.before-candidate{
    width: 100%;
    height: 50%;
}

.before-container{
    width: 100%;
    height: 100%;
}

.before-title{
    color: #1B3763;
    font-size: 35px;
    font-weight: bolder;
    display: flex;
    padding-top: 50px;
    margin: auto;
    width: 60%;
    text-align: center;
    padding-bottom: 50px;
}

.before-button{
    background-color: #0071BB;
    color: white;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-right: 10px;
    width: 25%;
    margin: auto;
}

.target-candidate{
    width: 100%;
    height: 70%;
    background: linear-gradient(#0071BB, #00395E);
}

.target-container{

    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.target-title{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    width: 90%;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.target-text{
    color: white;
    font-size: 15px;
    display: flex;
    width: 90%;
    justify-content: flex-start;
    
}

.job-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}

.job-titles hr{
    flex-grow: 1;
    border: none;
    border-bottom:3px solid white;
    width: 60%;
}

#job-title{
    color:white;
    font-size: 18px;
    font-weight: bolder;
    width: 13%;
}
#jobs{
    margin-right: 10px;
}
.all-jobs{
    padding-top: 30px;
    flex-wrap: wrap;
    display: flex;
}
#job_{

    display: flex;
    background-color:white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1B3763;
}
.Al{
    width: 100%;
    height: 120%;
}

.Al-container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.Al-title{
    color: #0071BB;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
}

.three-buttons{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button__{
    display: flex;
    border: 2px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 2px;
    gap: 2em;
    padding:20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

.video_{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.video-title{
    color: #1B3763;
    font-size: 20px;
    font-weight: bolder;
}

.video-text{
    color: #656565;
    font-size: 15px;
}

.contact{
    width: 100%;
    height: 50%;
    background: linear-gradient(#0071BB, #00395E);
}

.contact-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

.contact-title{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
}

.people{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.person{
    display: flex;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px;
    width: 45%;
    
    
}
.name_contact{
    color: #1B3763;
    font-size: 18px;
    font-weight: bolder;
}
.job-title{
    color: #656565;
    font-size: 13px;
    
}
.info-person{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    
}

.mail_phone{
    color: #0071BB;
    font-size: 13px;
    font-weight: bolder;
}
.footer{
    border-top: 1px solid #656565;
    width: 100%;
    height: 20%;
    background: linear-gradient(#00395E, #0071BB);
}
.footer-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.foot-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    color: white;
    font-size: 16px; 
    padding:0;
}

.footer-navigation{
    justify-content: space-evenly;
    display: flex;
    
}
.foot-nav li{
    display: flex;
    margin: 0 10px;
    

}
.footer-container{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}
#footer-logo{
    
    width: 200px;
    height: 100px;
}
.footer_title{
    font-size: 13px;
    color: #656565;
}

.footer_img{
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    background-color: white;
    border-radius: 4px;
    align-items: center;
}